/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.m-header  {
	background-color: $color-main;
	padding: 20px 0 15px;
	display: none;
}
