.m-mainv {
  display: none;
}

.m-blockfqa {
  dl {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    dt {
      background: #ededed;
      border-radius: 10px 10px 0px 0px;
      color: #101010;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      padding: 20px 60px 20px 30px;
      @include sp {
        font-size: 15px;
        padding: 10px 40px 10px 3vw;
      }

      &::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/images/fqa_ico02.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 34px;
        transform: translateY(-50%);
        @include sp {
          right: 15px;
        }
      }
      &.active::after {
        height: 2px;
        background: url(/assets/images/fqa_ico01.png) no-repeat center;
        background-size: contain;
      }
    }
    dd {
      display: none;
      background: #fff;
      border-radius: 0px 0px 10px 10px;
      color: #000;
      text-align: justify;
      padding: 25px 30px;
      @include sp {
        padding: 10px 3vw;
      }
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &:first-child {
      dd {
        display: block;
      }
    }
  }
}

.m-blockeval {
  dl {
    display: flex;
    padding: 20px 0 20px;
    &:not(:first-child) {
      border-top: 1px solid#BBBBBB;
    }
    dt {
      display: flex;
      width: 35vw;
      max-width: 310px;
      flex-shrink: 0;
      position: relative;
      padding-right: 15px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: url(/assets/images/star_ico01.png) no-repeat center;
        background-size: contain;
        display: block;
        position: relative;
        top: 2px;
        margin-right: 15px;
      }
    }
    dd {
      width: 100%;
      color: #000000;
      .eval-list {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 49%;
          max-width: 300px;
          padding-left: 15px;
          position: relative;
          &:nth-child(odd) {
            margin-right: 2%;
          }
          &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #000000;
            position: absolute;
            top: 12px;
            left: 0;
          }
        }
      }
    }
    @include sp {
      flex-direction: column;
      dt {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
      dd {
        .eval-list {
          flex-direction: column;
          li {
            width: 100%;
            &:nth-child(odd) {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .gr_star {
      display: flex;
      margin-right: 10px;
      span {
        width: 13px;
        height: 13px;
        &:not(:last-child) {
          margin-right: 4px;
        }
        &.star01 {
          background: url(/assets/images/star_ico01.png) no-repeat center;
          background-size: contain;
        }
        &.star02 {
          background: url(/assets/images/star_ico02.png) no-repeat center;
          background-size: contain;
        }
      }
    }
  }
}

.m-blockdetail {
  display: flex;
  justify-content: space-between;
  .detail-slider {
    width: 50%;
    .slider-for {
      margin-bottom: 20px;
      @include max(1024px) {
        margin-bottom: 10px;
      }
      .items {
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .slider-nav {
      margin: 0 -10px;
      .items {
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        margin: 0 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      @include max(1024px) {
        margin: 0 -5px;
        .items {
          margin: 0 5px;
        }
      }
    }
  }
  &__cont {
    width: 47%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .list-tag {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px -10px;
      li {
        height: 20px;
        display: flex;
        border: 1px solid #000;
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 14px;
        padding: 4px 10px;
        margin: 0 5px 10px;
        .bold {
          display: inline-block;
          font-weight: 700;
          margin-left: 3px;
        }
      }
    }
    .tab-ttl {
      margin-bottom: 30px;
      li {
        display: inline-flex;
        color: #616161;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        border-bottom: 2px solid #616161;
        cursor: pointer;
        padding: 0 20px 10px;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &.active {
          color: #000;
          border-bottom: 2px solid #000;
        }
      }
    }
    .tab-cont {
      .tab-frame {
        display: none;
        &.active {
          display: block;
        }
        .sec {
          p:not(:last-child) {
            margin-bottom: 20px;
          }
        }
        .tab-list {
          dl {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            &:not(:last-child) {
              border-bottom: 1px solid #bbbbbb;
            }
            dt {
              width: 49%;
              font-weight: 600;
            }
            dd {
              width: 49%;
            }
          }
        }
      }
    }
    @include max(1024px) {
      h4 {
        font-size: 20px;
      }
      .tab-ttl {
        margin-bottom: 20px;
        li {
          font-size: 16px;
        }
      }
      .tab-cont .tab-frame .tab-list dl {
        flex-direction: column;
      }
      .tab-cont .tab-frame .tab-list dl dt {
        width: 100%;
        margin-bottom: 5px;
      }
      .tab-cont .tab-frame .tab-list dl dd {
        width: 100%;
      }
    }
  }
  &__tab {
    margin-top: 50px;
    @include max(1024px) {
      margin-top: 30px;
    }
  }
  .gr_btn {
    display: flex;
    gap: 45px;
    margin-top: 30px;
  }
  @include sp {
    flex-direction: column;
    .detail-slider {
      width: 100%;
			margin-bottom: 40px;
    }
    &__cont {
      width: 100%;
      max-width: 100%;
    }
		.gr_btn {
			gap: 20px;
		}
  }
}


#dekton_box02 {
	position: relative;
	.bg {
		width: 100%;
		position: absolute;
	}
}